.popular-search-location-item .overlay {
    transition: all .3s ease;
}

.popular-search-location-item:hover .overlay {
    background-color: var(--ap-cta-bg);
    opacity: .8;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 0 2.5px;
    opacity: .5;
    background: white;
}

.property-listing-map .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.calendar-icon-white::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.property-index .swiper-button-prevBtn svg, .property-index .swiper-button-nextBtn svg {
    filter: drop-shadow( 3px 3px 5px rgba(0, 0, 0, .3));
}

#home-hero #home-slides-controls > span:not(.active) {
    opacity: 0.4;
}

.home-index #valuation, .home-index #valuation > div:first-of-type {
    min-height: 75vh;
}

input[name=newsletter_email], input[name=newsletter_email]::placeholder {
    color: #B2B2B2;
}

.home-index #search_location::placeholder, .home-index #search_location, .listings-index #search_location {
    color: #B9B9B9;
}

.home-index #search_location {
    background-color: var(--ap-tertiary);
}

.news-article::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    z-index: 10;
}

@media (max-width: 767px) {
    .news-article::before {
        content: '';
        position: absolute;
        width: calc(100% - 4rem);
        height: 100%;
        background-color: rgba(0,0,0,.3);
        top: 0;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
    }

    .home-index .slide-title-container {
        bottom: calc(50% - 20px);
    }

    .home-index #home-search-container {
        top: calc(50% + 40px);
    }
}

@media (min-width: 768px) {
    .latest-news-slider .swiper-wrapper, .latest-videos-slider .swiper-wrapper {
        display: grid !important;
    }
}

.news-article-content {
    z-index: 20;
}

.news-article .overlay, .news-article .news-article-content, .featured-properties-slider .swiper-slide > div:first-of-type, #about-alternative .cta-button, #about-content .cta-button, .view-video-archive-button, .view-news-archive-button, .hover-darken, #valuation .find-out-more-button {
    transition: all .3s ease-in-out;
}

.news-article:hover .overlay {
    opacity: 0.5 !important;
}

.news-article:hover .news-article-content {
    bottom: 0 !important;
}

.featured-properties-slider .swiper-slide:hover > div:first-of-type {
    transform: scale(1.1);
}

#about-alternative .cta-button, #about-content .cta-button {
    transform-origin: left center;
    color: var(--ap-cta-bg);
}

.view-video-archive-button:hover {
    background-color: var(--ap-cta-bg) !important;
    border-color: var(--ap-cta-bg) !important;
}

.view-news-archive-button:hover {
    background-color: var(--ap-cta-bg) !important;
    border-color: var(--ap-cta-bg) !important;
    color: #fff;
}

#about-alternative .cta-button:hover, #about-content .cta-button:hover {
    background-color: var(--ap-cta-bg) !important;
    color: #fff;
    transform: scaleX(1.1);
}

.hover-darken:hover {
    filter: brightness(80%);
}

#valuation .find-out-more-button:hover {
    background: white;
    color: black;
}

@media (max-width: 639px) {
    #hero-tab {
        width: 100%;
    }

    #featured-properties .featured-property-content {
        background: rgba(250, 250, 250, .9) !important;
    }

    #testimonials #quote-icon {
        width: 40px !important;
    }
}

@media (max-width: 449px) {
    .listings-index .list-view .bg-lazy-load {
        min-height: 225px !important;
        max-height: 225px !important;
    }
}

@media (min-width: 450px) and (max-width: 639px) {
    .listings-index .list-view .bg-lazy-load {
        min-height: 280px !important;
        max-height: 280px !important;
    }
}

@media (min-width: 1024px) {
    ul#navigation > .left-section > li:not(:first-of-type) div.standard-sub-nav > ul,
    ul#navigation > .right-section > li:not(:nth-last-child(2)) div.standard-sub-nav > ul { 
        transform: translateX(-50%); 
    }

    div.standard-sub-nav > ul { 
        background-color: var(--ap-tertiary); 
    }

    div.standard-sub-nav > ul > li:hover {
        background-color: var(--ap-primary);
    }

    ul#navigation > .left-section > li:first-of-type div.standard-sub-nav {
        left: 0;
    }

    ul#navigation > .right-section > li:nth-last-child(2) div.standard-sub-nav {
        left: unset;
        right: 0;
    }

    

    /* #latest-videos iframe {
        width: unset !important;
    } */

    .top-level.active::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: calc(100% - 1rem);
        height: 2px;
        background: var(--ap-primary);
    }
    
    .top-level.active.last::before {
        width: 100%;
    }

    .container {
        max-width: 991px;
    }

    #main-image {
        min-height: 90vh;
        max-height: 90vh;
    }

    .make-an-enquiry-text {
        line-height: 3rem;
    }

    .lg\:text-4\.5xl {
        font-size: 2.7rem;
        line-height: 2.75rem;
    }

    .lg\:text-4\.25xl {
        font-size: 2.5rem;
        line-height: 2.62rem;
    }
}

#search-hero {
    height: 50vh;
}

select.select-carat, select.select-carat-white {
    background-position: 90%;
}

.mobile-footer-dropdown-container, #social-footer > div:first-of-type > div:first-of-type, .transparent-border {
    border-color: rgba(250, 250, 250, .3);
}

@media (min-width: 1536px) {
    .listings-index .container {
        max-width: 1280px;
    }
}

.create-property-alert-button, .create-property-alert-button svg {
    transition: all .3s ease-in-out;
}

.create-property-alert-button:hover {
    background: white;
    color: black;
}

.create-property-alert-button:hover svg {
    fill: black;
}

.pagination-disabled {
    opacity: 0.75;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    #home-search-container {
        transform: translate(-50%, 75%) !important;
    }

    .property-listing-map.map-list-view .swiper-slide .bg-lazy-load {
        min-height: 160px !important;
        max-height: 160px !important;
    }

    .property-listing-map.map-grid-view .swiper-slide .bg-lazy-load {
        min-height: 180px !important;
        max-height: 180px !important;
    }

    .property-index .property-features-image {
        height: 26rem !important;
    }
}

@media (min-width: 1024px) {
    .slide-title-container {
        transform: translate(-50%, 25%) !important;
    }

    .property-index #property-images > div:first-of-type > div:first-of-type {
        height: 90vh !important;
        max-height: 90vh !important;
    }

    .lg\:h-unset {
        height: unset;
    }

    .lg\:min-h-unset {
        min-height: unset;
    }

    .lg\:top-unset {
        top: unset;
    }
}

@media (min-width: 1280px) {
    #home-search-container {
        transform: translate(-50%, 50%) !important;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1440px !important;
    }
}

.cta-button, .cta, .find-out-more-button, .view-video-archive-button, .view-news-archive-button, .create-property-alert-button {
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1024px) {
    #mobile-menu {
        height: initial !important;
    }
}

@media (max-width: 1023px) {
    header#navigation {
        background-color: var(--ap-nav-bg-transparent);
    }

    header#navigation.transparent {
        background-color: transparent !important;
    }

    .enquire-now-btn, .arrange-viewing-btn {
        min-width: 15rem;
        max-width: 15rem;
        text-align: center;
    }
}

.download-pdf-button {
    border-color: var(--ap-cta-bg);
    color: var(--ap-cta-bg);
}

.download-pdf-button:hover {
    background-color: var(--ap-cta-bg);
    color: #fff;
}

@media (min-width: 1280px) {
    #about-alternative > .container {
        max-width: unset;
    }

    .home-index .slide-title-container {
        bottom: calc(50% - 40px);
    }

    .home-index #home-search-container {
        top: calc(50% + 40px);
    }
}

@media (min-width: 1280px) and (max-width: 1279px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .container {
        max-width: 1230px;
    }


    .property-index .property-features-image {
        height: 33rem !important;
    }
}

@media (min-width: 1280px) and (max-width: 1534px) {
    #latest-news .news-article {
        height: 24rem;
    }

    #latest-news .news-article > div, #latest-videos .swiper-slide, #latest-videos iframe {
        min-height: 24rem;
    }

    .listings-index .grid-view .bg-lazy-load {
        min-height: 250px !important;
        max-height: 250px !important;
    }

    .listings-index .list-view .bg-lazy-load {
        min-height: 340px !important;
        max-height: 340px !important;
    }

    .property-listing-map.map-list-view .swiper-slide .bg-lazy-load {
        min-height: 185px !important;
        max-height: 185px !important;
    }

    .property-listing-map.map-grid-view .swiper-slide .bg-lazy-load {
        min-height: 190px !important;
        max-height: 190px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .testimonials-slider .swiper-slide > div {
        padding: 0;
    }

    .listings-index .list-view .bg-lazy-load {
        min-height: 280px !important;
        max-height: 280px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1534px) {
    .testimonials-slider .swiper-slide > div {
        padding: 0;
    }

    .listings-index .list-view .bg-lazy-load {
        min-height: 320px !important;
        max-height: 320px !important;
    }

    .property-listing-map.map-list-view ~ div {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .property-listing-map.map-list-view ~ div > div:nth-of-type(2) {
        padding-top: 0;
    }
}

@media (min-width: 640px) and (max-width: 1279px) {
    .listings-index .grid-view .bg-lazy-load {
        min-height: 225px !important;
        max-height: 225px !important;
    }
}

@media (max-width: 1279px) {
    #social-footer .follow-us-on-social-media-text {
        display: block !important;
    }
}

@media (min-width: 1535px) {
    #social-footer .follow-us-on-social-media-text {
        display: block !important;
    }
}

.text-cta {
    color: var(--ap-cta-bg);
}

.border-cta {
    border-color: var(--ap-cta-bg);
}

@media (min-width: 450px) and (max-width: 549px) {
    .property-index .image-slider-container {
        top: -5rem !important;
    }
}

@media (min-width: 550px) and (max-width: 639px) {
    .property-index .image-slider-container {
        top: -6rem !important;
    }
}

@media (min-width: 768px) and (max-width: 874px) {
    .property-index .image-slider-container {
        top: -9rem !important;
    }
}

@media (min-width: 875px) and (max-width: 950px) {
    .property-index .image-slider-container {
        top: -10rem !important;
    }
}

.testimonial-index #custom-pagination {
    justify-content: end;
}

.team-member {
    cursor: pointer;
}

.team-member-info-container {
    transition: all .3s ease-in-out;
    top: 13rem;
}

.team-member:hover .team-member-info-container {
    top: 0 !important;
}

.team-member:hover .overlay {
    opacity: .88;
}

.team-member .overlay {
    transition: all .3s ease-in-out;
}

.career-container.active .career-title, .career-container.active .career-date {
    color: #fff !important;
}

.career-container.active > div:first-of-type {
    background-color: var(--ap-primary);
}

.career-container:hover > div:first-of-type {
    background-color: var(--ap-primary);
}

.career-container:hover .expand-button svg path {
    stroke: #fff;
}

.career-container:hover .career-title, .career-container:hover .career-date {
    color: #fff !important;
}

.career-container:hover > div:first-of-type, .career-title, .career-date {
    transition: all .3s ease;
}

.swiper-button:disabled {
    opacity: .3;
}

.tooltip-trigger:hover .tooltip {
    opacity: 1 !important;
}

.tooltip::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgba(55,65,81,var(--tw-bg-opacity));
    transform: rotate(45deg);
    left: 50%;
    translate: -50%;
    z-index: -1;
    top: -1.5px;
}

#property-location-modal h3.header-text {
    font-weight: normal !important;
}

.property-index .property-features-image {
    height: 40rem;
}

#cookie-policy h3, #cookie-policy .cookie-action-box-button, #cookie-policy .cookie-policy-form-submit-button {
    text-transform: uppercase;
}

#cookie-policy .cookie-action-box-button, #cookie-policy .cookie-policy-form-submit-button {
    font-size: .875rem;
    padding: 1rem;
    font-weight: 700;
}

#cookie-policy > div > p {
    text-align: center;
    font-size: .875rem;
}

#gallery-modal form button[type=submit] {
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5rem 3rem;
}

#gallery-modal h3 {
    text-transform: uppercase;
}

#gallery-modal .viewing-time-slot > span, #book-viewing-modal .viewing-time-slot > span {
    border-radius: 0;
}

#gallery-modal .close-gallery > svg {
    color: #fff;
}

.text-3\.5xl {
    font-size: 2rem;
    line-height: 2.375rem;
}

.hover\:scale {
    transition: all .3s ease-in-out;
}

.hover\:scale:hover {
    transform: scale(1.1);
}

#book-viewing-modal .modal-close {
    padding-top: 0 !important;
}

#book-viewing-modal h3 {
    text-transform: uppercase;
    font-size: 1.25rem;
}

#book-viewing-modal input, #book-viewing-modal textarea, #book-viewing-modal button[type=submit] {
    border-radius: 0 !important;
}

#book-viewing-modal input[name=name], #book-viewing-modal input[name=email], #book-viewing-modal input[name=tel], #book-viewing-modal textarea[name=comment] {
    font-size: 0.875rem;
}

@media screen and (orientation: portrait) and (max-width: 1023px) {
    #home-hero, #home-slides > .slide > div, #home-hero .hero-fallback-image-container {
        height: 100svh !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
    #home-hero, #home-slides > .slide > div, #home-hero .hero-fallback-image-container {
        height: 26rem !important;
    }

    #home-search-container {
        top: 14rem !important;
    }
}

.listings-index select option {
    color: black;
}